# System Files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# OS-specific
ehthumbs.db
Desktop.ini

# Node modules
node_modules/

# Compressed files
*.zip

# Logs
*.log

# WordPress cache/plugins (if accidentally added)
wp-content/cache/
wp-content/plugins/